parameters:
    level: 6

    paths:
        - %currentWorkingDirectory%/src
        - %currentWorkingDirectory%/tests

    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "~Construct empty\\(\\) is not allowed\\. Use more strict comparison~"
        - "~(Method|Property) .+::.+(\\(\\))? (has parameter \\$\\w+ with no|has no return|has no) typehint specified~"
    treatPhpDocTypesAsCertain: false
includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon